name: Validate the project version
on:
  pull_request:

concurrency:
  group: version-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Check that the project version is set in all CFN templates
        run: make cfn/version
