name: Validate the project version
on:
  pull_request:

concurrency:
  group: version-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Check that the project version is set in all CFN templates
        run: make cfn/version
